.exhibit-form__content {
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 1230px;
}

.exhibit-form__heading {
  margin-bottom: 20px;
  text-align: center;
}

.form {
  margin: 0 auto;
  width: 25%;
  text-align: center;
}

.exhibit__h3{
  color: #5f5f5f;
  text-align: left;
  border-bottom:solid 2px #5f5f5f;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.form__group {
  margin-bottom: 50px;
}

.form__group-title {
  text-align: left;
  
}

.form__error {
  height: 20px;
  color: #ff0000;
  text-align: left;
}



.form__input--text input {
  padding: 10px;
  width: 100%;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 3px;
  appearance: none;
}

.form__input--text select{
  width: 100%;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 3px;
  
}

.form__input--text select:hover{
  background-color: #9fa0a0;
  color: #fff;
}


.form__input--text textarea{
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
 
} 


.form__button {
  margin-top: 20px;
  margin-bottom: 50px;
  


}

.form__button-submit {
  padding: 10px;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 3px;
  /* background: #000; */
  background-color: #ff5555;
  color: #fff;
  cursor: pointer;
}

/* .form__input--text button{
  color: #ff5555;
  height: 30px;
  border-radius: 30px;
  background-color: transparent;
  border: solid 1px #ff5555;
  margin: 10px 10px 10px 0px ;
  width: 120px;
}

.form__input--text button:hover{
  color: #fff;
  background-color: #ff5555;
} */


/* チェックボックスを非表示にする */
.hidden-checkbox {
  display: none;
}

/* ボタン風のスタイル */
.custom-button {
  display: inline-block;
  color: #ff5555;
  height: 30px;
  line-height: 30px;
  border-radius: 30px;
  background-color: transparent;
  border: solid 1px #ff5555;
  margin: 10px 10px 10px 0;
  width: 120px;
  text-align: center;
  cursor: pointer;
}

/* ホバー時のスタイル */
.custom-button:hover {
  color: #fff;
  background-color: #ff5555;
}

/* チェックされているときのスタイル */
.hidden-checkbox:checked + .custom-button {
  color: #fff;
  background-color: #ff5555;
}